<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Register | HTMX Demo</title>
		<link rel="stylesheet" href="./css/styles.css" />
		<script src="https://kit.fontawesome.com/0ac72a7378.js" crossorigin="anonymous"></script>
		<script
			src="https://unpkg.com/htmx.org@1.9.10"
			integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
			crossorigin="anonymous"></script>
	</head>

	<body>
		{{> header}}

		<main>
			<h1>Register</h1>

			<img id="spinner" class="htmx-indicator" src="./assets/loader.gif" />
			<dialog hx-on:click="this.close()"></dialog>

			<form
				name="register"
				hx-post="/users"
				hx-target="dialog"
				hx-indicator="#spinner"
				hx-on::after-request="document.querySelector('dialog').showModal()"
				hx-on::after-on-load="this.reset()"
				hx-encoding="multipart/form-data"
				autocomplete="off"
				novalidate>
				<fieldset>
					<legend>User Info</legend>

					<div class="inputGroup">
						<label for="firstName">First Name</label>
						<input type="text" name="firstName" id="firstName" required autofocus />
					</div>

					<div class="inputGroup">
						<label for="lastName">Last Name</label>
						<input type="text" name="lastName" id="lastName" required />
					</div>

					<div class="inputGroup">
						<label for="email">Email</label>
						<input type="email" name="email" id="email" required />
					</div>

					<div class="inputGroup">
						<label for="password">Password</label>
						<input type="password" name="password" id="password" required />
					</div>

					<div class="inputGroup">
						<label for="avatar">Avatar</label>
						<input type="file" name="avatar" id="avatar" />
					</div>
				</fieldset>

				<button type="submit">Submit</button>
			</form>
		</main>

		{{> footer}}
	</body>
</html>
